venv/
**pycache**
__pycache__/
**/__pycache__/
.env
data/raw/
data/models/
data/processed/*
!data/processed/.gitkeep
catboost_info/
*.pkl
*.cbm
*.xlsx
.DS_Store
.ipynb_checkpoints/
logs/*.log
logs/*
!logs/.gitkeep
